<div class="about-container">
  <div class="grid-container">
    <div class="grid-item image-container">
      <img
        src="https://images.pexels.com/photos/1581384/pexels-photo-1581384.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt="Restaurant"
      />
    </div>

    <div class="grid-item text-container">
      <h2 class="about-title">About Us</h2>
      <p class="about-text">
        We are passionate about providing our customers with the highest quality
        food and exceptional service. Our menu features a variety of dishes to
        satisfy every palate. We use only the freshest ingredients to create
        delicious and flavorful meals.
      </p>
    </div>
  </div>
</div>
